$sectionBackgroundColor: #21232e;
$buttonBackgroundColor: #699900;
$headerBackgroundImage: url("../img/m-h-day.jpg");
$underlineTextColor:#14a0c7;
$whiteTextcolor:white;
$paddingLeft:130px;
$headerTextColor:#383838;
$fontsTextType:"Hind";
$logoTextColor:black;
$footerLogoColor:#c0c3ce;
$paddingTop:20px;
$bodyBackgroundColor:white;
$fontFamilySourcePro: 'Source Sans Pro', sans-serif;
$fontFamilyHind: 'Hind', sans-serif;
$fontFamilyFresca: 'Fresca', sans-serif;
$headerHeadingTextColor:#2c2f3c;
$fonts: (
  "SourcePro": #{'Source Sans Pro', sans-serif},
  "Hind": #{'Hind', sans-serif},
  "Fresca": #{'Fresca', sans-serif},
  );
$bannerBackgroundColor1:#659411;
$bannerBackgroundColor2:#2f5dce;
