$sectionBackgroundColor: #3b3f50;
$buttonBackgroundColor: #e3ac00;
$headerBackgroundImage: url("../img/m-h-night.jpg");
$underlineTextColor:#ff4e33;
$headerTextColor:white;
$whiteTextcolor:white;
$fontsTextType:"Fresca";
$logoTextColor:white;
$footerLogoColor:white;
$paddingLeft:130px;
$paddingTop:20px;
$bodyBackgroundColor:#21232e;
$fontFamilySourcePro: 'Source Sans Pro', sans-serif;
$fontFamilyHind: 'Hind', sans-serif;
$fontFamilyFresca: 'Fresca', sans-serif;
$headerHeadingTextColor:white;
$fonts: (
  "SourcePro": #{'Source Sans Pro', sans-serif},
  "Hind": #{'Hind', sans-serif},
  "Fresca": #{'Fresca', sans-serif},
  );
$bannerBackgroundColor1:#dca008;
$bannerBackgroundColor2:#98364c;
